// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0033ff;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;

$light-gray: #ECECEC;
$purple: #C51380;
$ice: #66CCCC;
$purple2: #532683;
$yellow: #FBCB0A;
$spotablu: #0033ff;
$white: rgb(230, 230, 230);
