.spotaloo-text {
  display: flex;
  justify-content: center;
  flex-direction: column;

  p {
    margin: 0 auto 20px;
    color: $white;
    font-size: 17px;
    font-family: $headers-font;
    font-weight: 500;
  }

  img {
    margin: 15vh auto 0;
    text-shadow: 1px 1px 2px white;
    width: 80vw;
  }
}

.add_toi_header {
  color: rgba(0, 51, 255, 0.8);
  font-size: 22px;
  font-family: "Montserrat", "Helvetica", "sans-serif";
  font-weight: 100;
}
