<h1>Favorites#index</h1>
<p>Find me in app/views/favorites/index.html.erb</p>

<% @favorites.each do |favorite| %>
 <p> <%= link_to favorite.toilet.name, toilet_path(favorite.toilet)%> </p>
<% end %>
