.categories-header {
  font-size: 50px;
  text-align: center;
  font-family: "Thiket regular";
  margin-top: 8px;
  color: #C51380;
  text-shadow: 1px 1px 2px white;
  font-size: 40px;
  margin: 50px auto;
}
