// Import page-specific CSS files here.
@import "home";
@import "categories";

.toilets-grid {
  position: relative;
  height: 100vh;
  width: 100vw;
  margin-top: 80px;

}

.wrapper{
  height: 100vh;
  width: 100vw;
}

// .index-section {
//   // display: flex;
//   position: relative !important;
//   flex-direction: column;
// }

.goto-map {
  margin: 0 auto;
  display: flex;
  margin-bottom: 20px;
}
