<div class="formcontainer px-4 text-start fw-bold">
<%= simple_form_for(toilet) do |f| %>
  <%= f.input :name, input_html: {class: "toilet-input "} %>
  <%= f.input :address, placeholder: "",
  input_html: {data: {address_autocomplete_target: "address"}, class: "d-none", placeholder: ""},
  wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}, class: "address-input"} %>
  <%= f.submit "Add Toilet", class: "blue-button" %>
<% end %>
</div>
