<h1>INDEX TOILETS</h1>
<% @toilets.each do |toilet| %>
  <li> <%= link_to toilet.name, toilet_path(toilet) %> </li>
<% end %>
<!-- This is the index map v -->
<div style="width: 100vw; height: 60vh;"
  data-controller="map"
  data-map-markers-value="<%=@markers.to_json%>"
  data-map-api-key-value="<%=ENV['MAPBOX_API_KEY']%>"></div>
