<div class="container py-5 text-center flex-column justify-content-center">
<div class="container">
  <h1>Add a place to 💩</h1>
</div>
<div class="container">
  <%= image_tag "toilet.svg", class: "my-4" %>
</div>
<div class="container">
  <%= render "form", toilet: @toilet %>
</div>
</div>
