<div class="container py-5 text-center flex-column justify-content-center">
<div class="container">
  <h3 class="add_toi_header">Add a place to <i class="fa-solid fa-poo"></i> in peace</h3>
</div>
<div class="container">
  <%= image_tag "spotaloo_logo.svg", class: "my-4", height: "160  " %>
</div>
<div class="container">
  <%= render "form", toilet: @toilet %>
</div>
</div>
