.start-btn {
  a {
    text-decoration: none;
    justify-items: center;
    display: grid;
    // padding: 24px;
    font-size: 32px;
    font-family: "Thiket regular";
    // margin-top: 50px;
    color: $purple;
    text-shadow: 1px 1px 2px white;
  }
}
