.start-btn {
  display: flex;
  justify-content: center;

  img {
    width: 40vw;
    margin: 0 auto;
    margin-top: 50px;
  }
}

.btn-black {
  text-decoration: none;
  color: white;
  padding: 8px 24px;
  border-radius: 20px;
  border: solid 2px black;
  background: black;
  transition: all 0.3s ease;
  opacity: 0.9;
}

.btn-black:hover {
  background: black;
  color: white;
  opacity: 1;
}

.btn-gray {
  color: white;
  padding: 8px 24px;
  border-radius: 20px;
  border: solid 2px #8b8b8b;
  background: #8b8b8b;
  transition: all 0.3s ease;
  opacity: 0.9;
}

.btn-gray:hover {
  color: white;
  opacity: 1;
}

.btn-white {
  color: rgb(0, 0, 0);
  padding: 8px 24px;
  border: solid 2px black;
  border-radius: 20px;
  background: #ffffff;
  transition: all 0.3s ease;
  opacity: 0.8;
}

.btn-white:hover {
  background: #ffffff;
  color: rgb(38, 38, 38);
  opacity: 1;
}


.blue-button {
  height: 44px;
  width: 100%;
  min-width: 80px;
  font-family: $headers-font;
  font-weight: 500;
  background-color: $blue;
  border-radius: 22px;
  border-style: none;
  color: white;
  padding: 0px 15px;

  .fa-solid {
    margin-top: 4px;
    font-size: 20px;
  }
}
