.card-scroller {
  width: 100vw;
  // height: 120px;
  position: absolute;
  margin: 0 auto;
  // background-color: white;
  bottom: 10px;
  z-index: 3;
  // border-radius: 20px 20px 0 0;
  // box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.2);
}


.category-icon img {
  height: 24px;
}
