.favoritebar {
  border-radius: 2px;
  display: flex !important;
  align-items: start !important;
  justify-content: end !important;
  /* padding-right: 2px; */
  gap: 5px;
  position: absolute;
  top: 13%;
  right: 4%;
  z-index: 3;
}

.small {
  font-size: x-small;
}
