.map-container {
  margin-bottom: 8px;
}

.map-container_actual {
  position: relative;
}

.mapboxgl-popup {
  max-width: 400px;
  border-radius: 50%;
}

.mapboxgl-popup-content {
  text-align: center;

}
