.mini-banner {
  justify-content: center;
  background: $spotablu;
  padding: 16px;
  text-align: center;
  height: 90px;
  width: 100vw;

  .banner-logo {
    width: 150px;
    margin-top: 20px;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navspace {
  height: 60px;
}

.navbarloo {
  display: flex;
  padding: 0px 20px;
  height: 60px;
  width: 100%;
  position: fixed;
  bottom: 0px;
  z-index: 5;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 10px 10px 8px #888888;
  justify-content: space-between;
  align-items: center;
}
