// a:link,
// a:visited,
// a:hover,
// a:active {
//   color: rgb(0, 0, 16);
//   text-decoration: none;
// }

// a:hover,
// a:active {
//   border-bottom: 0.1em solid rgba(0, 0, 16, 0.8);
//   color: rgba(0, 0, 16, 0.8);
//   text-decoration: none;
// }
.flex {
  display: flex;
  overflow-y: auto;
  padding-bottom: 20px;
  -ms-overflow-style: none;
  /* for Internet Explorer, Edge */
  scrollbar-width: none;
  /* for Firefox */
}

.comment-container {
  // margin-left: 10px;
  // border-left: 1px dotted black;
  flex-shrink: 0;
  border-radius: 25px;
  background-color: $light-gray;
  width: 200px;
  min-height: 150px;
  // padding-left: 10px;
  // padding-right: 10px;
}


.button-container {
  justify-content: end;
  text-align: end;
}

.container-rating {
  // padding-left: 10px;
}

.boolean-container {
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start;
  display: flex;
  gap: 10px;
  gap: 10px 20px;
  /* row-gap column gap */
  row-gap: 10px;
  column-gap: 20px;

}

.rating-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 16, 0.19), 0 0.3rem 0.3rem rgba(0, 0, 16, 0.23);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 16, 0.05), 0 0.3rem 0.3rem rgba(0, 0, 16, 0.05);
  background-color: rgb(255, 255, 255);
  padding: 2px;
  height: 60px;
  width: 95vw;
  border-radius: 30px;
  border: 1px solid $blue;
}

// .super-happy path {
//   background-color: $blue;
// }

.rating-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  align-items: flex-start;
  padding: 5px;
  width: 100%;
}

.rating-text p {
  border-left: 1px solid $blue;
  border-right: 1px solid $blue;
  color: $blue;
  padding-left: 10px !important;
  font-family: $headers-font;
  font-weight: 500;
  font-size: 1rem;
  padding: 0.1rem;
  flex-wrap: wrap;
  width: 50vw;
  align-self: flex-start;
  margin-bottom: 0px;
}

.rating {
  background-color: black;
  padding: 2px;
  border-radius: 10px;
  width: 30%;
  flex-wrap: nowrap;
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.rating-svg {
  fill: rgb(242, 242, 242);
  stroke: $blue;
  stroke-width: 1px;
  height: 40px;
  width: 60px;
  // margin: 1px;
  align-items: flex-end;
}

.super-happy {
  margin: 0px
}

.rating-form-2 svg {
  height: 25px;
  width: 45px;
  // margin: 1px;
  align-items: flex-end;
}

#radios label {
  position: relative;
}

input[type="radio"] {
  position: absolute;
  opacity: 0;
}

input[type="radio"]+svg {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

input+svg {
  cursor: pointer;
}

input[class="super-happy"]:hover+svg,
input[class="super-happy"]:checked+svg,
input[class="super-happy"]:focus+svg {
  fill: $blue;
}


input[class="super-sad"]:hover+svg,
input[class="super-sad"]:checked+svg,
input[class="super-sad"]:focus+svg {
  fill: $blue;
}
