<div class="flex">
  <% reviews.each do |review| %>
    <div class="pe-2">
    <% @user = User.find(review[:user_id]) %>
      <div class="comment-container p-3">
          <div>"<%=review.comment %>"
            <div class="small">
              <p><%=@user[:username] == nil ? @user[:email] : @user[:username] %></p>
             <p> <%= "★" * review.rating.to_i + "☆" * ((review.rating.to_i - 5).abs) %></p>
            </div>
          </div>

        <%# <div class="button-container"> %>
          <%# if policy(review).destroy? %>
            <%#= link_to "Delete", review_path(review), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn-black small " %>
          <%# end %>
          <%# if policy(review).edit? %>
            <%#= link_to "Edit Review", edit_toilet_review_path(review.toilet, review), class: "btn-black small" %>
          <%# end %>
        <%# </div> %>
      </div>
    </div>
  <% end %>
</div>
