<% reviews.each do |review| %>
  <p>"<em><%=review.comment %></em>"</p>
  <p><%=review.user.username %> </p>
  <%= link_to "Delete", review_path(review), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-danger m-3" %>
<% end %>
