<div class="container mb-5">
  <br>
  <h1>Rate the toilet</h1>
  <%= render "styledform", toilet: @toilet, review: @review %>
</div>

<div class="" onload="initStarRating()">
  <%= link_to toilets_path do %>
    <button class="button-back-map">
      <i class="fa-solid fa-location-dot"></i>
    </button>
  <% end %>
</div>
